* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  background: rgb(145, 200, 255);
  background: radial-gradient(
    circle,
    rgba(145, 200, 255, 1) 0%,
    rgba(55, 150, 245, 1) 100%
  );
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  --primary_color: white;
}

/* Todos List Style */
.container {
  width: 100%;
  max-width: 30rem;
  min-height: 30rem;
  margin: 0 auto;
  padding: 0.1rem 1.5rem;
  border-radius: 0.75rem;
  background-color: var(--primary_color);
  box-shadow: 0 7px 30px rgba(67, 70, 77, 0.3);
}

.new_todo_input {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.new_todo_input input {
  outline: none;
  border: none;
  border-bottom: 1px solid transparent;
  padding: 0.75rem;
  transition: all 0.3s;
  font-size: 1.2rem;
  flex: 1;
  color: #34495e;
}

.new_todo_input .add_icon {
  transition: color 0.3s;
}

.new_todo_input input:focus {
  border-bottom: 1px solid #34495e;
}
.new_todo_input .add_icon:hover,
.new_todo_input input:focus {
  color: #34495e;
  fill: #34495e;
  cursor: pointer;
}

.filter {
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #485b6e;

  flex: 1;
  padding: 0 0.5em;
  color: #fff;
  font-size: 0.9rem;
  cursor: pointer;
}

.newItem__select {
  position: relative;
  display: flex;
  width: 9rem;
  height: 2.5rem;
  line-height: 2.5rem;
  overflow: hidden;
  margin-top: 1.3rem;
  border-radius: 0.25em;
}
/* Arrow */
.newItem__select::before {
  content: "\25BC";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 0.75rem;
  background: #34495e;
  color: white;
  font-size: 0.6rem;
  cursor: pointer;
  pointer-events: none;
  transition: 0.25s all ease;
}
.newItem__select:hover::before {
  color: #4ca1f7;
}

/* Todo Style */
.todo__list {
  list-style: none;
  padding: 0;
  margin-top: 2rem;
}
.todo__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.25rem 0;
}
.todo__item.invisible {
  display: none;
}
.todo__item > input[type="checkbox"] {
  display: none;
}

.todo__item .label {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  position: relative;
  /* max-width: 70%; */
  padding: 0.3rem 0.6rem;
  padding-left: 2.5rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.15rem;
  user-select: none;
  transform-origin: 0 50%;
  animation: pulse 0.4s ease forwards;
  overflow: hidden;
}

.todo__item .label:hover {
  background-color: rgba(166, 166, 166, 0.3);
}
/* .todo__item .check__box {
  position: absolute;
  right: 0.7rem;
  top: 50%;
  transform: translate(0, -50%);
  width: 1.3rem;
  height: 1.3rem;
  border: 2px solid #34495e;
  border-radius: 2px;
} */

.todo__item .check__box {
  display: flex;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  border: 2px solid #34495e;
  border-radius: 2px;
}

.todo__item .label .check_icon {
  fill: #fff;
}

.todo__item .label.clicked {
  .check__box {
    border: none;

    .check_icon {
      fill: #34495e;
    }
  }
  .item__title {
    color: #777;
  }
}

.edit__todo {
  height: 1.6rem;
  font-size: 1.15rem;
  border-radius: 0.3rem;
  background-color: #485b6e14;
}
.icons__section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}
.trash_icon {
  cursor: pointer;
  fill: #ff7878;
}
.trash_icon:hover {
  fill: #f54c4c;
}

.edit_icon {
  fill: #485b6e;
}
.edit_icon:hover {
  fill: #4ca1f7;
}
/* .todo__item > input[type="checkbox"] + label .check_icon {
  position: absolute;
  left: 50%;
  top: 50%;
  color: #34495e;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.3s cubic-bezier(0.3, 0, 0, 1.5);
} */
.todo__item > input[type="checkbox"]:checked + label .check__box {
  border: none;
}
.todo__item > input[type="checkbox"]:checked + label .check_icon {
  transform: translate(-50%, -50%) scale(1);
}
.todo__item > input[type="checkbox"]:checked + label .item__title {
  color: #c7c7c7;
}

@keyframes pulse {
  0% {
    transform: scale(0.6);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/*** login/signup style ***/
.login__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 30rem;
  min-height: 10rem;
  margin: 0 auto;
  padding: 0.1rem 1.5rem;
  border-radius: 0.75rem;
  background-color: var(--primary_color);
  box-shadow: 0 7px 30px rgba(67, 70, 77, 0.3);
}

.login_title {
  font-size: 1.2rem;
  color: #34495e;
  margin: 0.6rem;
}

.input_space {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.7rem;
}

.input_space input {
  color: #485b6e;
  border: 1px solid #34495e;
  border-radius: 3px;
  padding: 0.3rem;
}

.input_space input:focus {
  background-color: #c7c7c7;
  color: #fff;
  border: 1px solid #4ca1f7;
}

.login_btn {
  padding: 0.5rem 1.7rem;
  margin-top: 0.3rem;
  background-color: #34495e;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: 0.3s background-color;
}
.login_btn:hover {
  background-color: #fff;
  color: #34495e;
  border: 1px solid #34495e;
  overflow: hidden;
}

.login__container span {
  color: #34495e;
  cursor: pointer;
  font-size: 0.93rem;
  text-decoration-line: underline;
  margin: 0.5rem;
}
.login__container span:hover {
  color: #4ca1f7;
  text-decoration-line: none;
}
